body {
	margin: 5px;
	padding : 10px;
    /*  for old browsers */
    background: -webkit-linear-gradient(to left, #4568DC, #B06AB3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9796f0, #fbc7d4);
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  animation-name: bodycolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bodycolor{
  from {background-color: #181818;}
  to {background-color: #E0E0E0;}
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  font-family : Cursive;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: 	#FAFAD2;
}

section {
  padding: 20px;
}

.profile-box {
  height: 300px;
  width: 600px;
  margin: 0 auto 30px;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  transition: 0.3s ease all;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
}

.profile-box:hover{
  transform: translateY(-10px);
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.5);
}


.profile-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
  transition: 1s ease all;
}

.profile-box:hover img {
  transform: scale(1.2);
}

.profile-box video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
  background-color : #CAEFD1;
  transition: 1s ease all;
}

.profile-box:hover video {
  transform: scale(1.06);
}

.highlight{
	box-shadow: 10px 5px 80px #F0F0F0;
}

.heading{
	padding : 20px;
	background-color : #FF7F50;
	box-shadow: 10px 5px 80px #F0F0F0;
}

.center{
	text-align : center;
}

div.acticle-list table {
  table-layout: fixed;
  border: 4px solid blue;
  width :50vw;
  height : 70vh;
  padding : 10px;
}
.mt-20{
	margin-top : 10px;
}

div.ytlink table{
 padding : 50px;	
}

.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}
